body {
    background-color: rgb(244,109,37);
    padding: 20px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  h1, h2, h3, p, ul, li {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
  }
  ul.navlinks li {
    display: inline;
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  a:link{
    text-decoration: none;
    color:white;
  }
  a:active {
    text-decoration: none;
    color:white;
  }
  a:visited {
    text-decoration: none;
    color:white;
  }
  a:hover{
      text-decoration: none;
    }
  .ul:hover {
    text-decoration: none;
    color: lightgray;
    font-family: 'Montserrat', sans-serif;
  }
  .ul:visited {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  }
  ul.navlinks {
    background-color: #111;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
  }
  ul li:after {
    content: "|"; 
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
   }
   ul li:last-child:after {
     content: " "
   }
   .SimplePDF {
    width: 350px; /* width of pdf document box should be != 0 */
    height: 500px; /* height of pdf document box should be != 0 */
    border: 1px dashed red; /* optional */
    margin: 15px; /* optional */
    padding: 15px; /* optional */
    float: left; /* optional */
  }
  ul.navlinks li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
  }
  ul.navlinks li a:hover {
    text-decoration: none;
    color: lightgray;
    font-family: 'Montserrat', sans-serif;
  }
  ul.navlinks:hover {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: lightgray;
  }
  .content {
    background-color: #FFF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }
/* Style all font awesome icons */
.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  color:white;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  text-decoration: none;
  color: lightgray;
}
{
    box-sizing: border-box;
}
a:visited {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    font-family: 'Montserrat', sans-serif;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    font-family: 'Montserrat', sans-serif;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
    }
}